{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1>Buy</h1>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input name="symbol" placeholder="Symbol" type="text" required>
        </div>
        <div class="mb-3">
            <input name="shares" placeholder="Number of shares" type="number" min="0" required>
        </div>
        <button class="button-59" role="button" type="submit">Buy</button>
    </form>

{% endblock %}