{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="center table table-dark" border="1" >
        <thead>
            <th scope="col">symbol</th>
            <th scope="col">shares</th>
            <th scope="col">price/share</th>
            <th scope="col">Total</th>

        </thead>
        <tbody>
            {% for stock in portfolio %}
            {% if stock["shares"] > 0 %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ current_price[stock["symbol"]] | usd }}</td>
                <td>{{ total[stock["symbol"]] | usd }}</td>

            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td colspan="3">Cash: </td>
                <td>{{ cash_balance | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}