{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" type="text">
                <option value="" disabled selected>Symbol</option>
                {% for row in my_stocks %}
                    <option value= "{{row['symbol']}}"> {{row["symbol"]}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input name="shares" placeholder="Shares" type="number" min="0">
        </div>
        <button class="button-59" role="button" type="submit">Sell</button>
    </form>
{% endblock %}